.containerListTools {
  background-color: rgb(78, 78, 78);
  width: 100%;

  display: flex;
  gap: 5px;
}

.containerListTools .search {
  /* background-color: blue; */
  display: flex;
  align-items: center;
}
.containerListTools .search form input {
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 5px;
  margin: 5px;
}

.containerListTools .search form button {
  padding: 3px;
  cursor: pointer;
}

.containerListTools .pagination {
  background-color: rgb(59, 59, 59);
  color: #ffffff;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 20px;
  gap: 5px;
}

.containerListTools .pagination button {
  padding: 5px;
  cursor: pointer;
}
