.container {
    font-family: "Montserrat";
    color: #000000;
    background-color: rgb(155, 155, 155);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  p {
    padding: 0;
    margin: 0;
  }
  .element {
    background-color: rgb(238, 238, 238);
    font-size: 13px;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    width: 200px;
    overflow: hidden;
  }
  
  .element p{
    width: 200px;
  }
  
  .actions {
    gap: 5px;
    display: flex;
    padding: 5px;
    overflow: hidden;
  }
  .actions button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px;
    transition: box-shadow 0.3s ease;
  }
  .actions button:hover {
    box-shadow: 0 0 2px 0 #000000;
  }
  .actions button:nth-child(1) {
    background-color: rgb(255, 8, 0);
  }
  .actions button:nth-child(2) {
    background-color: rgb(0, 146, 156);
  }
  