npm install concurrently nodemon typescript ts-node -D -E
npx tsc --init


npm install express dotenv bcryptjs cors jsonwebtoken markdown-it uuid mongoose -E
npm install --save-dev  @types/bcryptjs @types/jsonwebtoken @types/uuid @types/markdown-it @types/express @types/node @types/mongoose @types/cors


