.containerEditorMarked {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  overflow: hidden;
  gap: 5px;
}
.containerEditorMarked .editor {
  display: flex;
  min-height: 120px;
  max-width: 100%;
}
.containerEditorMarked .editor textarea {
  padding: 0;
  width: 100%;
  padding: 5px;
  min-height: 100px;
  min-width: 200px;
  max-width: 100%;
}
.containerEditorMarked .panel {
  margin: 5px;
  overflow-x: scroll;
  background-color: #ffffff;
  width: 100%;
  padding: 5px;
}

.containerEditorMarked ::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
