.containerDashboardNav {
  background-color: #424242;
  width: 100%;
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  top: 0;
  position: fixed;

  z-index: 200;
}
.containerDashboardNav .title {
  text-align: center;
  color: #ffffff;

  top: 0;
  padding: 6px 0px;
  margin: 0;
}

.containerDashboardNav .nav {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  z-index: 100;
  transition: background-color 0.5s ease;
}

.containerDashboardNav .nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;

  cursor: pointer;
  margin: 0;
  padding: 0;
  background-color: #424242;
  overflow: hidden;
}
.containerDashboardNav .nav ul li {
  margin: 0;
  padding: 10px 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.containerDashboardNav .nav ul li:hover {
  background-color: #5f5f5f;
}
.containerDashboardNav .actions {
  background-color: #5f5f5f;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  margin: 0;
  padding: 0 0 0 15px;
}
.containerDashboardNav .actions:hover {
  background-color: #777777;
}
.containerDashboardNav .actions img {
  width: 30px;
  height: 30px;

  padding: 5px;
}

.containerDashboardNav .navOut {
  transition: max-width 0.3s ease;

  max-width: 0px;
}
.containerDashboardNav .navIn {
  max-width: 300px;
}
