.containerCreateUserForm{
 
    color: #000000;
    font-family: "Montserrat";
    font-size: 13px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
}

.containerCreateUserForm form{
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
    width: 300px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 2px 0 #000000;

}
.containerCreateUserForm form input{
    border: none;
    outline: none;
    padding: 5px;
}
.containerCreateUserForm form input:disabled{
    background-color: rgb(207, 207, 207);
}

.containerCreateUserForm button{
    cursor: pointer;
    padding: 5px;
    width: 100px;
}
.containerCreateUserForm select{
    padding: 5px;
    outline:none;
}