.containerUpdateForm {
  color: #000000;
  font-family: "Montserrat";
  font-size: 13px;
  display: flex;
  justify-content: center;
  position: relative;

  align-items: center;
  width: 100%;
  flex-direction: column;
  
}

.containerUpdateForm form {
  background-color: rgb(185, 185, 185);
  width: 100%;
  padding: 5px;
  gap: 5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 2px 0 #000000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}

.containerUpdateForm form div {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
}

.containerUpdateForm form input {
  color: #000000;
  border: none;
  outline: none;
  padding: 5px;
  background-color: rgb(199, 199, 199);

  border-radius: 5px;
}
.containerUpdateForm form input:disabled {
  background-color: rgb(207, 207, 207);
}

.containerUpdateForm button {
  cursor: pointer;
  padding: 5px;
  width: 100%;
  margin-top: 5px;
}
.containerUpdateForm button:hover{
    color: #ffffff;
}
.containerUpdateForm select {
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: none;
  background-color: rgb(199, 199, 199);
  color: #000000;
}
.containerUpdateForm form textarea {
  color: #000000;
  border-radius: 5px;
  outline: none;
  height: 50px;
  resize: none;
  background-color: rgb(199, 199, 199);
  border: none;
  height: 80px;
}
