.containerPostMain h2,
.containerPostMain h3,
.containerPostMain h4 {
  color: #458834;
}
.containerPostMain blockquote {
  background: #45883413;
  border-color: #458834;
}
.containerPostMain blockquote p {
  color: #458834;

}
.containerPostMain a {
  color: #458834;
}
