.containerPostMain h2,
.containerPostMain h3,
.containerPostMain h4 {
  color: #26C000;
}
.containerPostMain blockquote {
  background: #26c00010;
  border-color: #26C000;
}
.containerPostMain blockquote p {
  color: #26C000;

}
.containerPostMain a {
  color: #26C000;
}
