.containerPostMain h2,
.containerPostMain h3,
.container h4 {
  color: #dd7600;
}
.containerPostMain blockquote {
  background: #dd760023;
  border-color: #dd7600;
}
.containerPostMain blockquote p {
  color: #dd7600;

}
.containerPostMain a {
  color: #dd7600;
}
