.containerPostMain h2,
.containerPostMain h3,
.containerPostMain h4 {
  color: #FF8800;
}
.containerPostMain blockquote {
  background: #ff880011;
  border-color: #FF8800;
}

.containerPostMain blockquote p {
  color: #FF8800;
  
}
.containerPostMain a {
  color: #FF8800;
}
