.containerPostMain h2,
.containerPostMain h3,
.containerPostMain h4 {
  color: #c742e2;
}
.containerPostMain blockquote {
  background: #c742e213;
  border-color: #c742e2;
}
.containerPostMain blockquote p {
  color: #c742e2;

}
.containerPostMain a {
  color: #c742e2;
}
