.containerPostMain h2,
.containerPostMain h3,
.containerPostMain h4 {
  color: #ed92ff;
}
.containerPostMain blockquote {
  background: #ed92ff09;
  border-color: #ed92ff;
}
.containerPostMain blockquote p {
  color: #ed92ff;

}
.containerPostMain a {
  color: #ed92ff;
}
