.containerPostMain h2,
.containerPostMain h3,
.containerPostMain h4 {
  color:#FF4545;
}
.containerPostMain blockquote {
  background: #ff454527;
  border-color: #FF4545;
}
.containerPostMain blockquote p {
  color: #FF4545;

}
.containerPostMain a {
  color: #FF4545;
}
