.containerPostMain h2,
.containerPostMain h3,
.containerPostMain h4 {
  color: #ffd644;
}
.containerPostMain blockquote {
  background: #ffd7440c;
  border-color: #ffd644;
}
.containerPostMain blockquote p {
  color: #ffd644;

}
.containerPostMain a {
  color: #ffd644;
}
