.containerPostMain h2,
.containerPostMain h3,
.containerPostMain h4 {
  color:#A08600;
}
.containerPostMain blockquote {
  background: #ffd74433;
  border-color: #A08600;
}
.containerPostMain blockquote p {
  color: #6d5b00;

}
.containerPostMain a {
  color: #A08600;
}
