.containerPostMain {
  font-family: "Montserrat";
  font-weight: bold;
  width: 57%;
  margin-top: 50px;
  animation: animate 0.4s ease;
}

@keyframes animate {
  0% {
    opacity: 0;
    margin-top: 70px;
  }

  100% {
    opacity: 1;
    margin-top: 50px;
  }
}

.containerPostMain p {
  font-size: 16px;
  line-height: 29px;
}
.containerPostMain a {
  text-decoration: none;
}
.containerPostMain a:hover {
  text-decoration: underline;
}
.containerPostMain img {
  /**expecter**/
}
.containerPostMain img:nth-child(1) {
  width: 120%;
  margin-left: -50px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
/* CONFIGURE IMG SHOW */
.containerPostMain img[alt="img-only-intermediate"] {
  width: 100%;
  margin: 0;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
.containerPostMain img[alt="image-gif"] {
  width: 100%;
  margin: 0;
  height: 300px;
  object-fit: contain;
  border-radius: 10px;
}
.containerPostMain img[alt="image-complete"] {
  width: 100%;
  margin: 0;

  object-fit: contain;
  height: 300px;

  border-radius: 10px;
}

.containerPostMain pre {
  padding: 40px;
  border-radius: 10px;
  overflow: auto;
}
.containerPostMain pre code {
  font-family: monospace;
  font-size: 15px;
}

.containerPostMain blockquote {
  border-left: 5px solid;
  margin: 1.5em 10px;
  border-radius: 0 10px 10px 0;
  padding: 0.5em 10px;
  
}

.containerPostMain blockquote p {
  display: inline;
}

/* THEME DAY */
.containerPostMainDay p,
li {
  color: #888888;
}
/* .containerPostMainDay h2,
.containerPostMainDay h3,
.containerPostMainDay h4 {
  color: #525252;
}

.containerPostMainDay h1 {
  color: #000000;
}
.containerPostMainDay a {
  color: rgb(40, 170, 245);
}

.containerPostMainDay pre {
  background-color: #ececec;
}
.containerPostMainDay pre code {
  color: #31a514;
}
.containerPostMainDay blockquote {
  background: rgba(31, 180, 51, 0.26);
  border-color: rgb(0, 204, 27);
}
.containerPostMainDay blockquote p {
  color: rgb(20, 145, 37);
} */

/* THEME NIGHT */
.containerPostMainNight p,
li {
  color: #9b9b9b;
}
/* .containerPostMainNight h2,
h3,
h4 {
  color: #cacaca;
}

.containerPostMainNight h1 {
  color: #ffffff;
}
.containerPostMainNight a {
  color: rgb(40, 170, 245);
}
.containerPostMainNight pre {
  background-color: #3a3a3f;
}
.containerPostMainNight pre code {
  color: #2fc937;
}
.containerPostMainNight blockquote {
  background: rgba(0, 97, 158, 0.212);
  border-color: rgb(40, 170, 245);
}
.containerPostMainNight blockquote p {
  color: rgb(40, 170, 245);
} */

@media screen and (max-width: 1000px) {
  .containerPostMain {
    width: 90%;
  }
  .containerPostMain img:nth-child(1) {
    width: 100%;
    margin: 0;
  }
}
