.container {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  z-index: 120;
  pointer-events: none;
}

.delay {
  opacity: 0;
  animation: hidden 1s ease;
}

@keyframes hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  pointer-events: none;
}

.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;

  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}
/* THEME DAY **/
.loaderDay::before,
.loaderDay::after {
  border: 5px solid #2a9785;
}
.loaderDay::after {
  border-color: #fff382;
}
.loaderDay {
  background-color: #bdbdbd;
}

/* THEME NIGHT */
.loaderNight {
  background-color: #1f2028;
}
.loaderNight::before,
.loaderNight::after {
  border: 5px solid #ff8800;
}
.loaderNight::after {
  border-color: #19c8ce;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
