.containerSpinnerStatic {
  display: flex;
  width: 100%;
  justify-content: center;
  position: fixed;
  align-items: center;
  z-index: 220;
  pointer-events: none;
  background-color: red;
  height: 50px;
  width: 50px;
}

@keyframes hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.containerSpinnerStatic .loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  pointer-events: none;
}

.containerSpinnerStatic.loader::before,
.containerSpinnerStatic .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;

  animation: prixClipFix 2s linear infinite;
}

.containerSpinnerStatic .loader::after {
  animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
  inset: 6px;
}
/* THEME DAY **/
.containerSpinnerStatic .loaderDay::before,
.containerSpinnerStatic .loaderDay::after {
  border: 5px solid #26c000;
}
.containerSpinnerStatic .loaderDay::after {
  border-color: #f11818;
}
.containerSpinnerStatic .loaderDay {
  background-color: #ffffff;
}

/* THEME NIGHT */
.containerSpinnerStatic .loaderNight {
  background-color: #1f2028;
}
.containerSpinnerStatic .loaderNight::before,
.containerSpinnerStatic .loaderNight::after {
  border: 5px solid #ff8800;
}
.containerSpinnerStatic .loaderNight::after {
  border-color: #19c8ce;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
