.containerBlogHead {
  font-family: "Montserrat";
  width: 100%;

  display: flex;
  justify-content: center;
  margin-top: 50px;
} /*
      .containerNight {
        color: #ececec;
      }
      .containerDay {
        color: #121213;
      }*/
.containerBlogHead .left {
  width: 39%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.containerBlogHead .left h1 {
  font-size: 2.3rem;
  margin: 0;
  line-height: 50px;
}
.containerBlogHead .left h1:nth-child(2) {
  color: #7f7f85;
}
.containerBlogHead .right {
  width: 50%;

  width: 50%;
  height: 100%;
  font-family: "Tumble";
}
.containerBlogHead .logotype {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerBlogHead .logoHead {
  border-radius: 10px;
  padding: 20px;
  font-size: 4rem;
  margin: 0;
}
.containerBlogHead .logosSub {
  display: flex;
}
.containerBlogHead .logosSub h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 2rem;
  width: 70px;
  height: 70px;
  margin: 5px;
}
.containerBlogHead .logosSub h2:nth-child(1) {
  background-color: #f11818;
}
.containerBlogHead .logosSub h2:nth-child(2) {
  background-color: #ff8800;
}
.containerBlogHead .logosSub h2:nth-child(3) {
  background-color: #19c8ce;
}
.containerBlogHead .logosSub h2:nth-child(4) {
  background-color: #26c000;
}

@media screen and (max-width: 720px) {
  .containerBlogHead {
    flex-direction: column;
  }
  .containerBlogHead .left {
    width: 95%;

    margin: 0 auto;
  }
  .containerBlogHead .left h1 {
    font-size: 1.8em;

    margin: 0;
    line-height: 40px;
  }
  .containerBlogHead .right {
    width: 100%;
    margin-top: 20px;
  }
}
.containerBlogHead .animation1 {
  animation: animateText1 0.4s ease;
}
@keyframes animateText1 {
  0% {
    opacity: 0;
    margin-top: 20px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}
.containerBlogHead .animation2 {
  animation: animateText2 0.7s ease-in-out;
}
@keyframes animateText2 {
  0% {
    opacity: 0;
    margin-top: 30px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}
